.app {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    border: 1px solid;
    flex-direction: column;


    &.main {
      border-color: red;
    }

    &.projects {
      border-color: blue;

      img {
        // display: none;
      }
    }

    &.skills {
      border-color: yellow;

      img {
        // display: none;
      }
    }

    &.experience {
      border-color: orange;

      img {
        // display: none;
      }
    }

    &.education {
      border-color: purple;

      img {
        // display: none;
      }
    }

    &.certifications {
      border-color: green;

      img {
        // display: none;
      }
    }
  }

}