@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.projectDesc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.swiper-backface-hidden .swiper-slide {
  width: 100% !important;
}

.swiper-slide .projectDesc {
  text-align: left;
}

.swiper-slide h4 {
  text-align: left;
}

@media (max-width:720px) {

  /* smartphones, iPhone, portrait 480x320 phones */
  .swiper-slide .projectDesc {
    text-align: center;
  }

  .swiper-slide h4 {
    text-align: center;
  }
}

.swiper-slide .projectDesc p {
  font-size: .9em !important;
}


@media (min-width:720px) {
  .swiper-slide img {
    height: 15em !important;
    width: 350px !important;
    object-fit: cover !important;
    object-position: 1 0;
  }
}