@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.projectDesc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}